@model Website.Models.LoginView

@{
    ViewBag.Title = "Login";
}

<section>
    <div class="container">
        <h2>Login</h2>
    </div>
</section>

<section class="ak-dark-section mt-3 p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                @{ Html.RenderPartial("LoginPartial", Model);}
            </div>
        </div>
    </div>
</section>

