<h1>Welcome to Aios Kingdom !</h1>
<p>
    Thank you for registering to the pre-alpha.<br />
    We will send emails containing more details when we are ready to start the phase !<br/>
    In the meaning time, we will keep you updated on the progress with newsletters.<br/>
    Best regards Adventurer ! See you soon !
</p>