<div class="px-4 py-3">
    <div class="alert alert-success">
        <strong>Success !</strong> We sent a confirmation mail, please click on the link to activate your account.
    </div>
    @Html.ActionLink("Got it !", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>