@model Website.Models.PhaseModel

<tr class="row">
    @using (Html.BeginCollectionItem("Phases"))
    {
        <td class="col-md-5">
            <div class="form-group">
                @Html.DropDownListFor(model => model.SelectedSkill, new SelectList(Model.Skills, "Id", "Description"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
            </div>
        </td>
        <td class="col-md-1">
            <button type="button" class="close" aria-label="Close" onclick="$(this).parent().parent().remove();">
                <span aria-hidden="true">&times;</span>
            </button>
        </td>
    }
</tr>
